<header>
    <nav class="nav">
      <div class="navbar"><a class="brand" href="/">mendo<span class="green">learn</span></a>
        <div class="right"><a id="search" href="#"><i class="ion-ios-search"></i></a><a id="notifs" href="/notifications"><i class="ion-ios-bell"></i></a><a id="settingsBtn" href="#"><img src="./images/01.jpg" alt=""/></a></div>
      </div>
    </nav>
</header>

<div class="settingsModal">
    <ul class="settings">
      <li><a href="/profile.html"><i class="ion-ios-contact-outline"></i><span>Profile</span></a></li>
      <li><a href="#"><i class="ion-ios-information-outline"></i><span>Langues</span></a></li>
      <li><a href="#"><i class="ion-ios-help-outline"></i><span>Aide</span></a></li>
      <li><a href="#"><i class="ion-ios-gear-outline"></i><span>Paramètres</span></a></li>
      <li class="logout"><a href="#"><i class="ion-ios-minus"></i>Se deconnecter</a></li>
    </ul>
</div>