<main class="form-container">
    <img src="../../../../assets/ml1.png" alt="brand" />
    <h1>mendo<span class="green">learn</span></h1>
    <form action="" method="post">
      <div class="field">
        <input type="text" name="" placeholder="Prénom" />
      </div>
      <div class="field">
        <input type="text" name="" placeholder="Nom" />
      </div>
      <div class="field">
        <input type="email" name="" placeholder="Adresse email" />
      </div>
      <div class="field">
        <input type="password" name="" placeholder="Mot de passe" />
      </div>
      <div class="inline-field">
        <input type="checkbox" name="" id="terms" />
        <label for="terms">Accept terms and conditions</label>
      </div>
      <button type="button" name="button">Inscription </button>
    </form>
    <section class="actions">
      <a class="action green" routerLink="/account/signIn">Vous avez déjà un compte? </a>
    </section>
  </main>
