
<main class="form-container">
	<img src="../../../../assets/ml1.png" alt="brand"/>
<h1>mendo<span class="green">learn</span>
</h1>
<span class="description">Entrer votre adresse email pour pouvoir de votre mot de passe
</span>
<form action="" method="post">
	<div class="inline-field">
	<input type="text" name="" placeholder="Adresse email"/>
<button class="forgot-btn" type="button" name="button">
	<i class="ion-android-send"></i>
</button>
</div>
</form>
<section class="actions">
	<a class="action green" routerLink="/account/home">Retour à l'accueil </a>
</section>
</main>
