<div class="card">
        <div class="card-image"><img src="{{publication.media_m}}" alt="" /></div>
        <div class="card-header">
          <h3 class="card-title">{{ publication.titre }}</h3><a class="card-option" href="#"><i class="ion-ios-arrow-down"></i></a></div>
        <div class="card-content">
          <p></p>{{ publication.texte }}</div>
        <div class="card-user">
        	<a class="primary-content" [routerLink]="['/t/profile', publication.Enseignant.access_token]">
	        	<img src="{{url + publication.Enseignant.photo_small_m}}" [hidden] = "publication.Enseignant.photo_small_m == null"  alt=""/>
	        	<div>
	        		<h5>{{ publication.Enseignant.nom + ' ' + publication.Enseignant.prenom }}</h5>
	        		<span class="time">{{publication.date_publier}}</span>
	        		<span>8 min de lecture</span>
	        	</div>
	        </a>
          <div class="card-action"><a href="#"><i class="ion-android-send"></i></a></div>
        </div>
</div>


