  <div class="home-header">
    <h1 class="brand">
      <a href="home.html">mendo
        <span class="green">learn</span>
      </a>
    </h1>
    <section class="quotes">
      <img class="author-image" src="../../../../assets/ow.jpg" />
      <section>
        <p class="quote">Il faut toujours viser la lune, car même en cas d'échec, on atterit dans les étoiles</p>
        <p class="author">Oscar Wilde</p>
      </section>
    </section>
  </div>
  <div class="home-getStarted">
    <h1>Rejoignez la communauté</h1>
    <section class="btn-group">
      <a class="btn" routerLink="/account/signIn">Connexion</a>
      <a class="btn" routerLink="/account/signUp">Inscription</a>
    </section>
  </div>
  <div class="home-footer">
    <a >2018 | Mendolearn</a>
    <a href="">Conditions</a>
    <a href="">Politique d'utilisation</a>
    <a href="">À propos</a>
</div>
